        <!--Introduction-->
<br><br><br><br>        <!--Testimonials-->

        <section id="about" class="introduction scrollto">

            <div class="row clearfix">
<br><br><br>
             <h2><b>{{intro.tagline}}</b></h2>

                <div class="col-3">
                    <div class="section-heading">
                        <h3>{{intro.title}}</h3>
                        <h2 class="section-title">{{intro.description}}</h2>
                    </div>
      <div class="area2 columns feature-media left"> <img src="../assets/images/feature-img-1.png" alt="" width="100%">

       </div>

                </div>

                <div class="col-2-3">

                    <!--Icon Block-->
                <div class="area1 columns right">
        <h3>{{intro.head}}</h3>
        <p>{{intro.paragraph}}</p>
        <h3>{{intro.head2}}</h3>
        <p>{{intro.paragraph2}}</p>
        
                    </div>
                    <!--End of Icon Block-->

                </div>

            </div>


        </section>
        <!--End of Introduction-->
