        <!--Clients-->
<br><br><br><br>
        <section id="clients" class="scrollto clearfix">
            <div class="row clearfix">

                <div class="col-3">

                    <div class="section-heading">
                        <h3>{{client.tagline}}</h3>
                        <h2 class="section-title">{{client.title}}</h2>
                        <p class="section-subtitle">{{client.description}}</p>
                    </div>

                </div>

                <div class="pics">

                    <a href="../assets/images/company-images/ceo.jpg" data-featherlight="image" class="col-3"
                   data-wow-delay="0.1s"><img src="../assets/images/company-images/ceo.jpg" alt="Company"/><div class="client-overlay"><span>{{client.ceo}}</span></div></a>
                    <a href="../assets/images/company-images/qamar.jpg" data-featherlight="image" class="col-3"
                   data-wow-delay="0.1s"><img src="../assets/images/company-images/qamar.jpg" alt="Company"/><div class="client-overlay"><span>{{client.president}}</span></div></a>
                </div>

            </div>
        </section>
        <!--End of Clients-->
