<br><br><br><br>        <!--Testimonials-->
        <aside id="testimonials" class="scrollto text-center" data-enllax-ratio=".2">

            <div class="row clearfix">

                <div class="section-heading">
                    <h2 class="section-title">{{testimonial.tagline}}</h2>
                </div>

                <!--User Testimonial-->
                <blockquote class="col-3 testimonial classic">
                    <img src="../assets/images/user-images/care-512.png" alt="User"/>
                    <q>{{testimonial.project}}</q>
                    <footer><h2><b>{{testimonial.p1}}</b></h2></footer>
                </blockquote>
                <!-- End of Testimonial-->

                <!--User Testimonial-->
                <blockquote class="col-3 testimonial classic">
                    <img src="../assets/images/user-images/1.jpg" alt="User"/>
                    <q>{{testimonial.plot}}</q>
                    <footer><h2><b>{{testimonial.p2}}</b></h2></footer>
                </blockquote>
                <!-- End of Testimonial-->

                <!--User Testimonial-->
                <blockquote class="col-3 testimonial classic">
                    <img src="../assets/images/user-images/Rent.jpg" alt="User"/>
                    <q>{{testimonial.rent}}</q>
                    <footer><h2><b>{{testimonial.p3}}</b></h2></footer>
                </blockquote>
                <!-- End of Testimonial-->

            </div>

        </aside>
        <!--End of Testimonials-->
