<br><br><br><br>        <!--Testimonials-->

<div class="row">
  <div class="leftcolumn">
    <div class="card1">
      <h4><b>{{blog.title}}</b></h4>
      <h5>{{blog.description}}</h5>
      <div class="img1"><img src="../assets/images/blog1.png" alt="img1"/></div>
      <p>{{blog.p1}}</p>
      <h4><b>{{blog.hd1}}</b></h4>
      <p>{{blog.p2}}</p>
      <h4><b>{{blog.hd2}}</b></h4>
      <p>{{blog.pp2}}</p>
    </div>
    <div class="card">
      <h4><b>{{blog.title2}}</b></h4>
      <h5>{{blog.desc2}}</h5>
      <div class="img2"><img src="../assets/images/agent.jpg" alt="img1"/></div>
      <p>{{blog.p11}}</p>
      <h4><b>{{blog.hd3}}</b></h4>
      <p>{{blog.p3}}</p>
      <h4><b>{{blog.hd4}}</b></h4>
      <p>{{blog.p13}}</p>
    </div>
  </div>
  
<div class="rightcolumn">
    <div class="card">
      
      <div class="img3"><img src="../assets/images/blogimg.jpg" alt="img1"/></div>
    </div>

    <div class="card1">
      <h3>{{blog.h3}}</h3>
      {{blog.post}}      
      <h5><a href="https://www.homespakistan.com/blog/Renting-Versus-Buying-Advantages-of-Renting-a-Home/11778"><b>{{blog.post1}}</b></a></h5>
      {{blog.post}}
      <h5><a href="https://www.homespakistan.com/blog/Government-Reinstates-Ban-on-Non-Filers-Purchase-of-Property/11790"><b>{{blog.post2}}</b></a></h5>
      {{blog.post}}
      <h5><a href="https://www.homespakistan.com/blog/Common-Furniture-Buying-Mistakes-You-Must-Avoid/11985"><b>{{blog.post3}}</b></a></h5>
      {{blog.post}}
      <h5><a href="https://www.homespakistan.com/blog/How-to-Sell-Your-Property-Successfully/11849"><b>{{blog.post4}}</b></a></h5>
      {{blog.post}}
      <h5><a href="https://www.homespakistan.com/blog/Pakistan-realty-sector-Where-is-it-heading-towards-in-2019/11854"><b>{{blog.post5}}</b></a></h5>
      {{blog.post}}
    </div>

  

  </div>
</div>

