      <!--Content Section-->
<br><br><br><br><br><br>
        <h2><b>{{content.tagline}}</b></h2><br>


        <div class="google-maps">

          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3453.7325419956087!2d72.36997341485953!3d30.044530081882275!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x393cea85dc1f15a3%3A0x98627db561634385!2sAl%20Qamar%20Estate%20Agency!5e0!3m2!1sen!2s!4v1566858246109!5m2!1sen!2s" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>       

</div>        
<div class="row">
                <div class="column">

                    <h3>{{content.head1}}</h3>
                    
                    <h3><a target="_blank" title="Facebook" href="https://www.facebook.com/AlQamar-Estate-Agency-109712673752601/?modal=admin_todo_tour"><i class="fa fa-facebook"></i></a></h3>
                    
                    <h3><a target="_blank" title="Twitter" href="https://twitter.com/AgencyAlqamar"><i class="fa fa-twitter"></i></a></h3>

                    <h3><a target="_blank" title="Instagram" href="https://www.instagram.com/zafarmaken007"><i class="fa fa-instagram"></i></a></h3>

                </div>

<div class="column">
        <h3><i class="fa fa-phone"></i>  {{content.head}}</h3>
        <p>{{content.number}}</p>
        <p>{{content.name}}</p>
        <p>{{content.number1}}</p>
        <p>{{content.name1}}</p>
        </div>
        
        <div class="column">
        <h3><a href="mailto:alqamarestates@gmail.com"><i class="fa fa-envelope"></i></a>  {{content.head2}}</h3>
        <p>{{content.email}}</p><br><br>
        <p>{{content.email1}}</p>
<br><br><br>
</div>
</div>