        <div id="header" class="nav-collapse">
            <div class="row clearfix">
                <div class="col-1">

                    <!--Logo-->
                    <div id="logo">

                        <!--Logo that is shown on the banner-->
                        <img src="../assets/images/mylogo.PNG" id="banner-logo" alt="Landing Page" width="100%" />
                        <!--End of Banner Logo-->

                    </div>
                    <aside>
                        <app-social></app-social>
                    </aside>
  
                    <!--
                    <aside>
                    <app-social></app-social>
                    </aside>
                    End of Logo-->
                    
                                        <!--Main Navigation-->
                    <nav class="site-nav">
                        <div class="menu-toggle">
                   <div class="hamburger"></div>
                   </div>
                        <ul class="open desktop">
                            <li>
                                <h5><b><a routerLink="/Home">Home</a></b></h5>
                            </li>
                            <li>
                                <h5><b><a routerLink="/About">About</a></b></h5>
                            </li>
                            <li>
                                <h5><b><a routerLink="/Services">Services</a></b></h5>
                            </li>
                            <li>
                                <h5><b><a routerLink="/Team">Team</a></b></h5>
                            </li>
                            <li>
                                <h5><b><a routerLink="/Pricing">Pricing</a></b></h5>
                            </li>
                            <li>
                                <h5><b><a routerLink="/Blog">Blog</a></b></h5>
                            </li>
                            <li>
                                <h5><b><a routerLink="/Contact">Contact Us</a></b></h5>
                            </li>

                        </ul>
                    </nav>
                    <!--End of Main Navigation-->

                    <app-hamburger></app-hamburger>
    
                </div>
            </div>
        </div><!--End of Header-->
