<br><br><br><br>        <!--Testimonials-->
        <!--Pricing Tables-->
        <section id="pricing" class="secondary-color text-center scrollto clearfix ">
            <div class="row clearfix">

                <div class="section-heading">
                    <h3>{{pricing.tagline}}</h3>
                </div>
                <!--Pricing Block-->
                <div class="pricing-block col-3 wow fadeInUp" data-wow-delay="0.4s">
                    <div class="pricing-block-content">
                        <h3>Buy/Sell</h3>
                        <p class="pricing-sub"></p>
                        <div class="pricing">
                            <div class="price">Plots</div>
                        </div>
                        <ul>
                            <li>{{pricing.plot1}}</li>
                            <li>{{pricing.plot2}}</li>
                            <li>{{pricing.plot3}}</li>
                            <li>{{pricing.plot4}}</li>
                            <li>{{pricing.plot5}}</li>
                        </ul>
                        
                    </div>
                </div>
                <!--End Pricing Block-->

                <!--Pricing Block-->
                <div class="pricing-block featured col-3 wow fadeInUp" data-wow-delay="0.6s">
                    <div class="pricing-block-content">
                        <h3>Buy/Rent</h3>
                        <p class="pricing-sub"></p>
                        <div class="pricing">
                            <div class="price">House</div>
                        </div>
                        <ul>
                            <li>{{pricing.house1}}</li>
                            <li>{{pricing.house2}}</li>
                            <li>{{pricing.house3}}</li>
                            <li>{{pricing.house4}}</li>
                            <li>{{pricing.house5}}</li>
                        </ul>
                        
                    </div>
                </div>
                <!--End Pricing Block-->

                <!--Pricing Block-->
                <div class="pricing-block col-3 wow fadeInUp" data-wow-delay="0.8s">
                    <div class="pricing-block-content">
                        <h3>Buy/Sell</h3>
                        <p class="pricing-sub"></p>
                        <div class="pricing">
                            <div class="price">Villas</div>
                        </div>
                        <ul>
                            <li>{{pricing.villa1}}</li>
                            <li>{{pricing.villa2}}</li>
                            <li>{{pricing.villa3}}</li>
                            <li>{{pricing.villa4}}</li>
                            <li>{{pricing.villa5}}</li>
                        </ul>
                        
                    </div>
                </div>
                <h2 class="section-title">{{pricing.title}}</h2>
                <!--End Pricing Block-->

            </div>
        </section>
        <!--End of Pricing Tables-->
